{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
    {#    TODO the comment form #}

    {{ form_start(commentForm,{
        'attr':{
            'novalidate':'novalidate'
        }

    }) }}

    {{ form_widget(commentForm.text,{
        'attr':{
            'class':'form_widget'
        }

    }) }}
    {{ form_errors(commentForm.text) }}
    <button type="submit" class="btn">Update</button>

    {{ form_end(commentForm) }}

{% endblock %}
