{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    Create
    {{ form_start(form) }}


    <button type="submit" class="btn">Add Post</button>
    {{ form_end(form) }}
{% endblock %}
